<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel='stylesheet' href="comment.css">
        <title>test</title>
    </head>
    <body>
        <div id=comment-area">
            <form id="comment-form" onsubmit="submit()">
                <input type="text" id="comment" name="comment">
                <button type="submit">Send</button>
            </form>
        </div>
    <script type="text/javascript" src="jquery-3.2.1.min.js">
        <script type="text/javascript" src="comment.js"></script>
    </body>
</html>
